/* Ogólne ustawienia strony */
body {
    font-family: 'Arial', sans-serif;
    background-color: #121212;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

/* Górny pasek nawigacji */
.top-nav {
    background-color: #1e1e1e;
    overflow: hidden;
}

.top-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

.top-nav ul li {
    display: inline;
}

/* Przyciski w górnym pasku nawigacji */
.top-nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.top-nav ul li a:hover {
    background-color: #333333;
}

.main-content {
    display: flex;
}

/* Boczny pasek nawigacji */
.side-nav {
    width: 250px;
}

.side-nav ul {
    list-style-type: none;
    padding: 0;
}

.side-nav ul li {
    padding: 10px;
}

/* Przyciski w bocznym pasku nawigacji */
.side-nav ul li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px;
    border-radius: 10px;
    transition: background-color 0.3s;
}

.side-nav ul li a:hover {
    background-color: #333333;
}

.content {
    flex: 1;
    padding: 20px;
}

h1 {
    color: #ffffff;
}

p {
    line-height: 1.6;
}

/* Dodatkowe style */
.shadow {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Karta z zawartością */
.card {
    background: #1e1e1e;
    color: #ffffff;
    padding: 20px;
    border-radius: 15px;
    margin-bottom: 20px;
}
