{% extends "base.html" %}
{% block content %}
<div class="card shadow">
    <h1>O autorach</h1>
    <section>
        <p>Strona stworzona przed 4 studentów na potrzeby projektu zaliczeniowego z technologii informacyjnych.</p>
        <h1>Numery indeksów:</h1>
        <ul>
            <li>Jan Sobkowiak: 277465, 277465@student.pwr.edu.pl</li>
            <li>Szymon Kuriata: 277436, 277436@student.pwr.edu.pl</li>
            <li>Nikodem Drelak: 277426, 277426@student.pwr.edu.pl</li>
            <li>Jakub Klimek: 277441, 277441@student.pwr.edu.pl</li>
            <--!
            Z powodu awarii serwera nie jestem w stanie sprawdzić dołączenia mnie.
            Pierwsza strona bez namowy zrobiona fontem szeryfowym.
            Co prawda w trybie czarnym, ale odpowiednio grubym fontem.
            Drobne niedociągnięcia przytomnie naprawiane.

            40 punktów

            -->
        </ul>
    </section>
</div>
{% endblock %}