{% extends "base.html" %}
{% block content %}
<div class="card shadow">
    <h1>O autorach</h1>
    <section>
        <p>Strona stworzona przed 4 studentów na potrzebe projektu zaliczeniowego z technolgii informacyjnych </p>
        <h1>Numery indeksów:</h1>
        <ul>
            <li>Student 1: 277465, 277465@student.pwr.edu.pl</li>
            <li>Student 2: 277436, 277436@student.pwr.edu.pl</li>
            <li>Student 3: 277426, 277426@student.pwr.edu.pl</li>
            <li>Student 4: 277441, 277441@student.pwr.edu.pl</li>
        </ul>
    </section>
</div>
{% endblock %}