{% extends "base.html" %}

{% block content %}
<div class="card shadow">
    <h1>Definicja funkcji wymiernej</h1>
    <p>Funkcja wymierna to funkcja, którą można zapisać w postaci:</p>
    <p>$$ f(x) = \frac{W(x)}{P(x)} $$</p>
    <p>gdzie:</p>
    <ul>
        <li>\( W(x) \) jest dowolnym wielomianem,</li>
        <li>\( P(x) \) jest wielomianem niezerowym.</li>
    </ul>
    <p>Dziedziną takiej funkcji jest zbiór wszystkich liczb rzeczywistych \( x \), dla których \( P(x) \neq 0 \).</p>
    <h4>Uproszczenie funkcji wymiernej</h4>
    <p>Funkcję wymierną:</p>
    <p>\[ f(x) = \frac{1}{x} + \frac{3x - 5}{2x} \]</p>
    <p>można uprościć:</p>
    <p>\[ f(x) = \frac{1}{x} + \frac{3x - 5}{2x} \]</p>
    <p>\[ f(x) = \frac{2}{2x} + \frac{3x - 5}{2x} \]</p>
    <p>\[ f(x) = \frac{2 + 3x - 5}{2x} \]</p>
    <p>\[ f(x) = \frac{3x - 3}{2x} \]</p>
</div>
{% endblock %}