{% extends "base.html" %}
{% block content %}
<div class="card shadow">
    <h1>Dziedzina funkcji wymiernej</h1>
    <section>
        <p>Dziedzina funkcji wymiernej to zbiór wszystkich liczb rzeczywistych, dla których mianownik jest różny od zera.</p>
    </section>

    <section>
        <h3>Przykład 1.</h3>
        <p>Wyznacz dziedzinę wyrażenia wymiernego \[\frac{x+2}{3x-1}.\]</p>
        <h4>Rozwiązanie:</h4>
        <p>Zakładamy, że mianownik jest różny od zera, tzn.:</p>
        <p>\[3x-1 \neq 0\]</p>
        <p>\[3x \neq 1\]</p>
        <p>\[x \neq \frac{1}{3}.\]</p>
        <p>Zatem z dziedziny musimy wykluczyć liczbę \(\dfrac{1}{3}\); inaczej mówiąc, dziedziną jest zbiór wszystkich liczb rzeczywistych z wyłączeniem liczby \(\dfrac{1}{3}\):</p>
        <p>\[D = \mathbb{R}\setminus\{\frac{1}{3}\}.\]</p>
    </section>

    <section>
        <h3>Przykład 2.</h3>
        <p>Wyznacz dziedzinę wyrażenia wymiernego \[\frac{(x+12)(x-6)}{(x^2-4)(x-1)}.\]</p>
        <h4>Rozwiązanie:</h4>
        <p>Zakładamy, że mianownik jest różny od zera, tzn.:</p>
        <p>\[(x^2-4)(x-1) \neq 0\]</p>
        <p>\[(x-2)(x+2)(x-1) \neq 0 \]</p>
        <p>\[x-2 \neq 0 \;\lor\; x+2 \neq 0 \;\lor\; x-1 \neq 0\]</p>
        <p>\[x \neq 2 \;\lor\; x \neq -2 \;\lor\; x \neq 1.\]</p>
        <p>Zatem z dziedziny musimy wykluczyć liczby \(-2, 1, 2\). Czyli</p>
        <p>\[D = \mathbb{R}\setminus\{-2, 1, 2\}.\]</p>
    </section>
</div>
{% endblock %}
