{% extends "base.html" %}

{% block content %}
<div class="card shadow">
    <h1>Funkcja homograficzna</h1>
    <section>
        <p>Funkcja homograficzna to funkcja określona wzorem:</p>
        <p>$$ f(x) = \frac{ax + b}{cx + d} $$</p>
        <p>gdzie \( ad - bc \neq 0 \) i \( c \neq 0 \).</p>

        <h2>Szczególny przypadek: funkcja \( f(x) = \dfrac{a}{x} \)</h2>
        <p>Dziedziną funkcji homograficznej \( f(x) = \dfrac{a}{x} \) jest zbiór \( \mathbb{R} \setminus \{ 0 \} \).</p>
        <p>Zbiorem wartości (przeciwdziedziną) funkcji \( f(x) = \dfrac{a}{x} \) jest \( \mathbb{R} \setminus \{ 0 \} \).</p>
        <p>Wykresem funkcji \( y = \frac{a}{x} \) jest hiperbola, która posiada dwie asymptoty:</p>
        <ul>
            <li>Prosta \( y = 0 \) jest asymptotą poziomą.</li>
            <li>Prosta \( x = 0 \) jest asymptotą pionową.</li>
        </ul>
    </section>

    <section>
        <h2>Monotoniczność funkcji \( f(x) = \dfrac{a}{x} \)</h2>
        <div class="image-row">
            <div class="image-container">
                <p>Dla \( a > 0 \) funkcja homograficzna jest malejąca w przedziałach \( (-\infty, 0) \) i \( (0, +\infty) \).</p>
                <img src="/static/Assets/homograficzna/wykres2.png" alt="Wykres funkcji dla \( a > 0 \)">
            </div>
            <div class="image-container">
                <p>Dla \( a < 0 \) funkcja homograficzna jest rosnąca w przedziałach \( (-\infty, 0) \) i \( (0, +\infty) \).</p>
                <img src="/static/Assets/homograficzna/wykres1.png" alt="Wykres funkcji dla \( a < 0 \)">
            </div>
        </div>
    </section>

    <section>
        <div class="image-row">
            <div class="image-container">
                <p>Wykres funkcji homograficznej dla różnych \( a \) dodatnich:</p>
                <img src="/static/Assets/homograficzna/wykres3.png" alt="Wykres funkcji dla \( a > 0 \)">
            </div>
            <div class="image-container">
                <p>Wykres funkcji homograficznej dla różnych \( a \) ujemnych:</p>
                <img src="/static/Assets/homograficzna/wykres4.png" alt="Wykres funkcji dla \( a > 0 \)">
            </div>
        </div>
    </section>

    <section>
        <h2>Wnioski:</h2>
        <ul>
            <li>Zmniejszanie wartości \( |a| \) powoduje zbliżenie się hiperboli do osi układu.</li>
            <li>Zwiększanie wartości \( |a| \) powoduje oddalenie się hiperboli do osi układu.</li>
            <li>Dla \( a > 0 \), wykres funkcji leży w ćwiartce I i III układu współrzędnych.</li>
            <li>Dla \( a < 0 \), wykres funkcji leży w ćwiartce II i IV układu współrzędnych.</li>
        </ul>
    </section>
</div>
{% endblock %}
