{% extends "base.html" %}
{% block content %}
<div class="card shadow">
    <h1>Nierówności wymierne</h1>
    <section>
        <p>Nierównością wymierną z niewiadomą \(x\) nazywamy nierówność, którą można przekształcić równoważnie do jednej z postaci:</p>
        <p>\[\frac{W(x)}{P(x)} > 0,\; \frac{W(x)}{P(x)} \geqslant0,\; \frac{W(x)}{P(x)} < 0,\; \frac{W(x)}{P(x)} \leqslant 0\]</p>
        <p>gdzie \( W(x) \) i \( P(x) \) są wielomianami, a \( P(x) \neq 0 \).</p>
        <p>Rozwiązując nierówność wymierną najpierw przenosimy wszystkie wyrazy na jedną stronę, aby po innej stronie zostało nam 0.<br>Kolejnym krokiem jest, zamiennie:</p>
        <ul>
            <li>mnożenie nierówności stronami przez wspólny mianownik podniesiony do parzystej potęgi (metoda pierwsza);</li>
            <li>rozpatrzenie przypadków, w których mianownik jest mniejszy lub większy od zera (metoda druga).</li>
        </ul>
    </section>

    <section>
        <h3>Przykład 1.</h3>
        <p>Rozwiąż nierówność wymierną:</p>
        <p>\[ \frac{1}{x-2} \geqslant 1. \]</p>
        <h4>Rozwiązanie pierwszą metodą</h4>
        <p>Dziedzina nierówności jest zbiorem \( D = \mathbb{R} \setminus \{2\} \). Przenosimy 1 na lewą stronę równania i sprowadzamy do wspólnego mianownika:</p>
        <p>\[\frac{1}{x-2} - 1 \geqslant 0\]</p>
        <p>\[\frac{1}{x-2} - \frac{x-2}{x-2} \geqslant 0\]</p>
        <p>\[\frac{1 - (x-2)}{x-2} \geqslant 0\]</p>
        <p>\[\frac{1 - x + 2}{x-2} \geqslant 0\]</p>
        <p>\[\frac{3 - x}{x-2} \geqslant 0\]</p>
        <p>Przekształcamy równoważnie mnożąc nierówność stronami przez \((x-2)^2\). Podnosząc wyrażenie do kwadratu mamy pewność, że mnożymy przez wyrażenie dodatnie, dzięki czemu nie zmieni nam się znak nierówności.</p>
        <p>\[(3-x)(x-2) \geqslant 0\]</p>
        <p>Teraz wystarczy odczytać zbiór rozwiązań powyższej nierówności przy założeniu, że \(x \in D\).</p>
        <p>Rysujemy parabolę będącą wykresem funkcji \( f(x) = (3-x)(x-2)\).</p>
        <img src="/static/Assets/nierówności/wykres_nierownosci_1.png" alt="Wykres funkcji y = (3 - x)(x - 2)">
        <p>Odczytujemy rozwiązanie nierówności \(f(x) \geqslant 0 \) z rysunku: \( x \in [2, 3] \).</p>
        <p>Ponieważ \( D = \mathbb{R} \setminus \{2\} \), to zbiór rozwiązań początkowej nierówności to \( x \in (2, 3] \)</p>
        <h4>Rozwiązanie drugą metodą</h4>
        <p>Dziedzina nierówności jest zbiorem \( D = \mathbb{R} \setminus \{2\} \). Przenosimy 1 na lewą stronę równania i sprowadzamy do wspólnego mianownika:</p>
        <p>\[\frac{1}{x-2} - 1 \geqslant 0\]</p>
        <p>\[\frac{1}{x-2} - \frac{x-2}{x-2} \geqslant 0\]</p>
        <p>\[\frac{1 - (x-2)}{x-2} \geqslant 0\]</p>
        <p>\[\frac{1 - x + 2}{x-2} \geqslant 0\]</p>
        <p>\[\frac{3 - x}{x-2} \geqslant 0\]</p>
        <p>Rozpatrujemy 2 przypadki: gdy mianownik jest mniejszy od zera i gdy mianownik jest większy od zera.</p>
        <p><strong>Mianownik jest mniejszy od zera</strong>, gdy \(x-2 < 0\), czyli \(x < 2\). Przekształcamy równoważnie, mnożąc nierówność stronami przez \(x-2\). Zakładamy, że \(x-2\) jest ujemne, dlatego zmieniamy znak nierówności:</p>
        <p>\[3 - x \leqslant 0\]</p>
        <p>\[3 \leqslant x\]</p>
        <p>\[x\in[3, \infty)\]</p>
        <p>Rozpatrujemy powyższą nierówność dla \(x\in(-\infty, 2)\) (czyli wtedy, gdy mianownik jest ujemny). \((-\infty, 2)\cap[3, \infty) = \varnothing\).</p>
        <p><strong>Mianownik jest większy od zera</strong>, gdy \(x-2 > 0\), czyli \(x > 2\). Przekształcamy równoważnie, mnożąc nierówność stronami przez \(x-2\). Zakładamy, że \(x-2\) jest dodatnie, dlatego znak nierówności nie zmienia się:</p>
        <p>\[x - 3 \geqslant 0\]</p>
        <p>\[x \geqslant 3\]</p>
        <p>\[x\in(-\infty, 3]\]</p>
        <p>Rozpatrujemy powyższą nierówność dla \(x\in(2, \infty)\) (czyli wtedy, gdy mianownik jest dodatni). \((2, \infty)\cap(-\infty, 3] = (2, 3]\).</p>
        <p>Ostatecznym rozwiązaniem będzie suma obu zbiorów: \(\varnothing\cup(2, 3] = (2, 3]\).</p>
    </section>

    </div>
{% endblock %}

