{% extends "base.html" %}

{% block content %}
<div class="card shadow">
    <h1>Proporcjonalność odwrotna</h1>
    <section>
        <h2>Definicja</h2>
        <p>Proporcjonalność odwrotna to zależność między dwoma wielkościami, gdzie ich iloczyn jest stały. Mówiąc inaczej, liczby \( x \) i \( y \) są odwrotnie proporcjonalne wtedy i tylko wtedy, gdy:</p>
        <p>$$ x \cdot y = a $$</p>
        <p>gdzie \( a > 0 \).</p>
        <p>Zależność odwrotnie proporcjonalną można też zapisać w postaci:</p>
        <p>$$ y = \frac{a}{x} $$</p>
    </section>

    <section>
        <h2>Funkcja odwrotnej proporcjonalności</h2>
        <p>Proporcjonalnością odwrotną nazywamy funkcję \( f \) określoną dla \( x > 0 \) i daną wzorem:</p>
        <p>$$ f(x) = \frac{a}{x} $$</p>
        <p>gdzie \( a > 0 \).</p>
    </section>

    <section>
        <h2>Własności</h2>
        <p>Dla \( a = 1 \), wartości odwrotnie proporcjonalne mają tę własność, że jeśli jedna wielkość maleje, to druga tyle samo razy rośnie.</p>
    </section>

    <section>
        <h3>Przykład</h3>
        <p>Prędkość i czas podróży są wielkościami odwrotnie proporcjonalnymi.</p>
        <ul>
        <li>Jeżeli prędkość zwiększymy 2 razy, to czas podróży skróci się 2 razy.</li>
        <li>Jeżeli prędkość zmniejszymy 5 razy, to czas podróży wydłuży się 5 razy.</li>
        </ul>
    </section>

</div>
{% endblock %}
