{% extends "base.html" %}
{% block content %}
<div class="card shadow">
    <h1>Równania wymierne</h1>
    <p><strong>Definicja:</strong> Równaniem wymiernym z niewiadomą \(x\) nazywamy równanie, które można przekształcić równoważnie do postaci:</p>
    <p>$$ \frac{W(x)}{P(x)} = 0 $$</p>
    <p>gdzie \( W(x) \) oraz \( P(x) \) są wielomianami i \( P(x) \neq 0 \).</p>
    <p>Każde równanie zawierające tylko ułamki algebraiczne można sprowadzić do równania:</p>
    <p>$$ \frac{W(x)}{P(x)} = 0 $$</p>
    <p>Dziedziną tego równania są wszystkie argumenty, dla których \( P(x) \neq 0 \).</p>
    <p>Rozwiązaniem są liczby należące do dziedziny, dla których \( W(x) = 0 \).</p>
</div>
{% endblock %}
