{% extends "base.html" %}

{% block content %}
<div class="card shadow">
    <h1>Wprowadzenie do funkcji wymiernej</h1>

    <section>
        <h2>Wstęp</h2>
        <p>Przed rozpoczęciem nauki o funkcjach wymiernych warto dobrze zrozumieć wielomiany. Wielomian to wyrażenie algebraiczne składające się z sumy jednomianów, w którym zmienne mają wyłącznie nieujemne całkowite wykładniki.</p>
    </section>

    <section>
        <h2>Definicja funkcji wymiernej</h2>
        <p>Funkcja wymierna to taka funkcja, która jest ilorazem dwóch wielomianów. Inaczej mówiąc, funkcję wymierną można zapisać w postaci ułamka, który ma w liczniku i mianowniku wielomiany. Ogólnie, funkcja wymierna może być zapisana jako:</p>
        <p>\[ f(x) = \frac{P(x)}{Q(x)} \]</p>
        <p>gdzie \( P(x) \) i \( Q(x) \) są wielomianami, a \( Q(x) \neq 0 \).</p>
    </section>

    <section>
        <h2>Przykłady funkcji wymiernych</h2>
        <p>Oto kilka przykładów funkcji wymiernych:</p>
        <p>\[ f(x) = \frac{2x + 3}{x - 1},\; g(x) = \frac{x^2 + 1}{3x + 4},\; h(x) = \frac{5x^3 - x + 2}{x^2 - 4} \]</p>
        <p>Funkcje wymierne mogą również składać się z sumy kilku wyrażeń wymiernych. Na przykład:</p>
        <p>\[ f(x) = \frac{2x + 3}{x - 1} + \frac{x^2 + 1}{3x + 4} \]</p>
    </section>
</div>
{% endblock %}
