{% extends "base.html" %}

{% block content %}
<div class="card shadow">
    <h1>Wykres proporcjonalności odwrotnej</h1>
    <section>
        <p>Wykres proporcjonalności odwrotnej przedstawia funkcję w postaci hiperboli. Hiperbola ma dwie asymptoty:</p>
        <ul>
            <li>Asymptota pozioma: \( y = 0 \)</li>
            <li>Asymptota pionowa: \( x = 0 \)</li>
        </ul>
        <p>Funkcja odwrotnej proporcjonalności \( f(x) = \dfrac{a}{x} \) tworzy hiperbolę, która jest symetryczna względem początku układu współrzędnych dla \( a > 0 \). W zależności od znaku \( a \), hiperbola znajduje się w odpowiednich ćwiartkach:</p>
        <ul>
            <li>Dla \( a > 0 \), wykres leży w I i III ćwiartce.</li>
            <li>Dla \( a < 0 \), wykres leży w II i IV ćwiartce.</li>
        </ul>
    </section>

    <section>
        <h2>Przykład</h2>
        <p>Oto przykładowy wykres funkcji odwrotnej proporcjonalności dla \( a = 1 \):</p>
        <img src="/static/Assets/homograficzna/wykres2.png" alt="Wykres funkcji dla \( a > 0 \)">
    </section>
</div>
{% endblock %}
